<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shodiyeva Shohsanam Furqatovna</title>
    <link rel="icon" href="{% static 'assets/img/edu.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
</head>
<body>

<div class="bg"></div>
<main class="wrap">
    <section class="panel">
        <div class="logo pulseLogo">
            <img src="{% static 'assets/img/edu.png' %}" alt="Global Competence EDU">
        </div>

        <h1>Global Competence EDU</h1>
        <p class="sub">Global Education and Professional Development Platform</p>

        <form method="post" action="">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="msg">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="field">
                <div class="side">
                    <svg class="ico" viewBox="0 0 24 24">
                        <path d="M12 12a4.2 4.2 0 1 0-4.2-4.2A4.2 4.2 0 0 0 12 12Zm0 2c-4.6 0-8.3 2.5-8.3 5.5V21h16.6v-1.5c0-3-3.7-5.5-8.3-5.5Z"/>
                    </svg>
                </div>
                <input type="text" name="username" placeholder="username" required>
            </div>
            <div class="field">
                <div class="side">
                    <svg class="ico" viewBox="0 0 24 24">
                        <path d="M17 9h-1V7a4 4 0 0 0-8 0v2H7a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2Zm-7-2a2 2 0 1 1 4 0v2h-4Z"/>
                    </svg>
                </div>
                <input id="password" type="password" name="password" placeholder="password" required>
                <button type="button" class="action" id="eyeBtn">
                    <svg class="eye" viewBox="0 0 24 24">
                        <path d="M12 5c-7 0-10 7-10 7s3 7 10 7 10-7 10-7-3-7-10-7Zm0 11a4 4 0 1 1 0-8 4 4 0 0 1 0 8Z"/>
                    </svg>
                </button>
            </div>
            <button class="btn" type="submit">Kirish</button>
        </form>
        <div class="foot">
            <a href="" class="register-link">Register</a>
        </div>
    </section>
</main>

<script src="{% static 'assets/js/base.js' %}"></script>
</body>
</html>