<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shodiyeva Shohsanam Furqatovna</title>
    <link rel="icon" href="{% static 'assets/img/edu.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/monitor.css' %}">
</head>
<body>

<div class="header fade-up">
    <div class="logo fade-up delay-1">
        <a href="{% url 'home' %}" class="logo-link">
            <img src="{% static 'assets/img/edu.png' %}" class="flag">
            <span>Global Competence EDU</span>
        </a>  
    </div>
    <div class="header-right fade-up delay-2">
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_monitor' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_monitor' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_monitor' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_monitor' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
        <div class="auth-buttons fade-up delay-3">
            <button>Login</button>
            <button>Register</button>
        </div>
    </div>
</div>

<section class="wrapper">
    <h1 class="title">Monitoring va baholash</h1>
    <div class="content">
        <div class="card">
            <h3>Kontentlar:</h3>
            <ul class="check-list">
                <li><img src="{% static 'assets/img/test.png' %}" alt=""><a href=""> Diagnostik testlar (kirish/chiqish)</a></li>
                <li><img src="{% static 'assets/img/dash.png' %}" alt=""><a href=""> Individual progress dashboard</a></li>
                <li><img src="{% static 'assets/img/intekrativ.png' %}" alt=""><a href="">Kompetentlik rivojlanish grafiklari</a></li>
                <li><img src="{% static 'assets/img/test.png' %}" alt=""><a href=""> O'qituvchi uchun tahliliy hisobot</a></li>
                <li><img src="{% static 'assets/img/sertifikat.png' %}" alt=""><a href=""> Sertifikatlash (raqamli certificate)</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="stats">
                <img src="{% static 'assets/img/mon.png' %}">
                <img src="{% static 'assets/img/sertifikat.png' %}">
            </div>
        </div>
        <div class="diagram-bottom">
            <img src="{% static 'assets/img/diagram.png' %}">
        </div>
    </div>
</section>

<div class="edu-banner"> 
    <div class="banner-content"> 
        <div class="text-container"> 
            <span class="dash"></span> 
            <span class="text">Shodiyeva Shohsanam Furqatovna</span> 
            <span class="dash"></span> 
        </div> 
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_monitor' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_monitor' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_monitor' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_monitor' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
    </div> 
</div>

<script src="{% static 'assets/js/monitor.js' %}"></script>
</body>
</html>