<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shodiyeva Shohsanam Furqatovna</title>
    <link rel="icon" href="{% static 'assets/img/edu.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/multimedia.css' %}">
</head>
<body>

<div class="header fade-up">
    <div class="logo fade-up delay-1">
        <a href="{% url 'home' %}" class="logo-link">
            <img src="{% static 'assets/img/edu.png' %}" class="flag">
            <span>Global Competence EDU</span>
        </a>  
    </div>
    <div class="header-right fade-up delay-2">
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_multimedia' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_multimedia' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_multimedia' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_multimedia' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
        <div class="auth-buttons fade-up delay-3">
            <button>Login</button>
            <button>Register</button>
        </div>
    </div>
</div>

<section class="multimedia-section">
    <div class="stars" id="stars"></div>
    <header class="page-header">
        <div class="ribbon">Multimedia va gamifikatsiya</div>
    </header>
    
    <div class="content-area">
        <div class="left-panel">
            <h2 class="panel-title">Kontentlar:</h2>
            <ul class="content-list">
                <li><img src="{% static 'assets/img/microphone.png' %}" alt=""><span>Podcastlar</span> (xalqaro ekspertlar bilan)</li>
                <li><img src="{% static 'assets/img/clip.png' %}" alt=""><span>Webinarlar</span></li>
                <li><img src="{% static 'assets/img/ps.png' %}" alt=""><span>Quizlar</span> (Kahoot / Quizizz uslubida)</li>
                <li><img src="{% static 'assets/img/medal.png' %}" alt=""><span>Badge</span> va level tizimi</li>
                <li><img src="{% static 'assets/img/world.png' %}" alt=""><span>Interaktiv xaritalar</span></li>
                <li><img src="{% static 'assets/img/headphone.png' %}" alt=""><span>Audio hikoyalar</span> (real madaniyatlararo tajribalar)</li>
                <li><img src="{% static 'assets/img/puzzle.png' %}" alt=""><span>Qo'shimcha bo'limlar</span> (ixtiyoriy, lekin kuchli)</li>
                <li><img src="{% static 'assets/img/shodieva.png' %}" alt=""><span>O'qituvchilar</span> uchun metodik qo'llanma</li>
                <li><img src="{% static 'assets/img/world.png' %}" alt=""><span>Xalqaro hamkorlar</span> sahifasi</li>
                <li><img src="{% static 'assets/img/ask.png' %}" alt=""><span>FAQ</span> (tez-tez so'raladigan savollar)</li>
                <li><img src="{% static 'assets/img/email.png' %}" alt=""><span>Feedback & Reflection</span> kundaligi</li>
            </ul>
        </div>
        <div class="right-panel"></div>
    </div>
</section>

<div class="edu-banner"> 
    <div class="banner-content"> 
        <div class="text-container"> 
            <span class="dash"></span> 
            <span class="text">Shodiyeva Shohsanam Furqatovna</span> 
            <span class="dash"></span> 
        </div> 
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_multimedia' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_multimedia' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_multimedia' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_multimedia' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
    </div> 
</div>

<script src="{% static 'assets/js/multimedia.js' %}"></script>
</body>
</html>