<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shodiyeva Shohsanam Furqatovna</title>
    <link rel="icon" href="{% static 'assets/img/edu.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/pedagogical.css' %}">
</head>
<body>

<div class="header fade-up">
    <div class="logo fade-up delay-1">
        <a href="{% url 'home' %}" class="logo-link">
            <img src="{% static 'assets/img/edu.png' %}" class="flag">
            <span>Global Competence EDU</span>
        </a>  
    </div>
    <div class="header-right fade-up delay-2">
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_pedagogical' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_pedagogical' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_pedagogical' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_pedagogical' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
        <div class="auth-buttons fade-up delay-3">
            <button>Login</button>
            <button>Register</button>
        </div>
    </div>
</div>

<section class="mechanism-bg"> 
    <div class="ribbon"> 
        <h1>PEDAGOGIK MEXANIZMLAR</h1> 
    </div> 

    <div class="row top-row"> 
        <div class="col video-col">
            <h2 class="section-title">Video darslar (10-15 daqiqalik)</h2> 
            <a href="" class="video-overlay">
                <img src="{% static 'assets/img/video.png' %}" alt="Video dars" class="video-thumb">
            </a>
        </div>
        <div class="col methods-col"> 
            <h2 class="section-title">Faol o'qitish metodlari:</h2> 
            <div class="methods-container">  
                <div class="method-item">
                    <img src="{% static 'assets/img/case.png' %}" alt="Case-Study">
                    <h3>Case-Study</h3>
                </div>
                <div class="method-item">
                    <img src="{% static 'assets/img/role.png' %}" alt="Role-Play">
                    <h3>Role-Play</h3>
                </div>
                <div class="method-item">
                    <img src="{% static 'assets/img/debate.png' %}" alt="Debate">
                    <h3>Debate</h3>
                </div>
                <div class="method-item full-width">
                    <img src="{% static 'assets/img/based.png' %}" alt="Project-Based Learning">
                    <h3>Project-Based Learning</h3>
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="row bottom-row"> 
        <div class="section lesson-plan"> 
            <h2>Dars ishlanmalari (Lesson Plan)</h2> 
            <img src="{% static 'assets/img/lessons.png' %}" alt="Lesson Plan" class="section-image">
        </div> 
        <div class="section animations"> 
            <h2>Animatsion tushuntirishlar</h2> 
            <img src="{% static 'assets/img/animation.png' %}" alt="Animatsion tushuntirishlar" class="section-image">
        </div> 
        <div class="section mini-test"> 
            <h2>Mini-testlar (har mavzudan so'ng)</h2> 
            <img src="{% static 'assets/img/test.png' %}" alt="Mini-testlar" class="section-image"> 
        </div>  
    </div> 
</section> 

<div class="edu-banner"> 
    <div class="banner-content"> 
        <div class="text-container"> 
            <span class="dash"></span> 
            <span class="text">Shodiyeva Shohsanam Furqatovna</span> 
            <span class="dash"></span> 
        </div> 
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_pedagogical' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_pedagogical' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_pedagogical' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_pedagogical' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
    </div> 
</div>

<script src="{% static 'assets/js/pedagogical.js' %}"></script>
</body>
</html>