<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shodiyeva Shohsanam Furqatovna</title>
    <link rel="icon" href="{% static 'assets/img/edu.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/research.css' %}">
</head>
<body>

<div class="header fade-up">
    <div class="logo fade-up delay-1">
        <a href="{% url 'home' %}" class="logo-link">
            <img src="{% static 'assets/img/edu.png' %}" class="flag">
            <span>Global Competence EDU</span>
        </a>  
    </div>
    <div class="header-right fade-up delay-2">
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_brain' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_brain' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_brain' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_brain' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
        <div class="auth-buttons fade-up delay-3">
            <button>Login</button>
            <button>Register</button>
        </div>
    </div>
</div>

<div class="container"> 
    <header> 
        <div class="search-bar"> 
            <div class="input-wrapper">
                <i class='fa-solid fa-magnifying-glass'></i>
                <input type="text" placeholder="Ilmiy maqolalarni qidirish..." aria-label="Qidiruv">
            </div>
            <select> 
                <option>Yil</option> 
                <option>Til</option> 
                <option>Tadqiqot Usuli</option> 
            </select> 
            <div class="select-wrapper">
                <select>
                    <option selected disabled>Research Method</option>
                    <option>Qualitative</option>
                    <option>Quantitative</option>
                    <option>Mixed Methods</option>
                </select>
            </div>
        </div> 
    </header> 
    <div class="title"> 
        <div class="icon-circle">
            <img src="{% static 'assets/img/microscop.png' %}" alt="Microscop"> 
        </div>
        <h1>Ilmiy Tadqiqotlar</h1> 
    </div> 
    <div class="cards"> 
        <div class="card"> 
            <div class="card-header">
                <img src="{% static 'assets/img/doc.png' %}" alt="Ilmiy maqola">
                <div class="header-text">
                    <h2>Ilmiy Maqolalar</h2> 
                    <p>PDF/DOC formatdagi ilmiy maqolalar, dissertatsiyalar</p> 
                </div>
            </div>
            <ul class="card-list"> 
                <li>Deardorff 'Madinaviy Kompetensiya'</li> 
                <li>OECD 'Global Kompetensiya Dasturi'</li> 
            </ul> 
            <div class="buttons"> 
                <a href="" target="_blank" class="btn btn-download" download><i class='fa-solid fa-download'></i>Yuklab olish</a> 
                <a href="" target="_blank" class="btn btn-read"><i class='fa-brands fa-readme'></i>Qo'shimcha o'qish</a>  
            </div> 
        </div> 
        <div class="card"> 
            <div class="card-header">
                <img src="{% static 'assets/img/book.png' %}" alt="Statistik Ma'lumotlar">
                <h2>Statistik Ma'lumotlar</h2> 
            </div>
            <p>Tahlil qilingan ma'lumotlar, diagrammalar, infografikalar</p> 
            <ul> 
                <li>UNESCO 2025 yilgi hisoboti</li> 
                <li>Excel/PowerBI orqali vizualashtirilgan statistika</li> 
            </ul> 
            <div class="buttons"> 
                <a href="" target="_blank" class="btn btn-download" download><i class='fa-solid fa-download'></i>Yuklab olish</a> 
                <a href="" target="_blank" class="btn btn-read"><i class='fa-brands fa-readme'></i>Qo'shimcha o'qish</a>  
            </div> 
        </div> 
        <div class="card"> 
            <div class="card-header">
                <img src="{% static 'assets/img/book.png' %}" alt="Tadqiqot metodlari">
                <h2>Tadqiqot Metodlari</h2> 
            </div>
            <p>Sorovnomalar, testlar, intervyu shablonlari</p> 
            <ul> 
                <li>Kvalitativ tadqiqot uchun "Open-ended Question"</li> 
                <li>Miqdoriy tadqiqot uchun "Likert Scale" testi</li> 
            </ul> 
            <div class="buttons"> 
                <a href="" target="_blank" class="btn btn-download" download><i class='fa-solid fa-download'></i>Yuklab olish</a> 
                <a href="" target="_blank" class="btn btn-read"><i class='fa-brands fa-readme'></i>Qo'shimcha o'qish</a>  
            </div> 
        </div> 
        <div class="card"> 
            <div class="card-header">
                <img src="{% static 'assets/img/book.png' %}" alt="Dissertatsiya Namunalari">
                <h2>Dissertatsiya Namunalari</h2>
            </div> 
            <p>Toliq dissertatsiya va tezislar</p> 
            <ul> 
                <li>Harvard Universiteti "Madinaviy Intellekt Global Jamoalarda"</li> 
                <li>O'zbekiston Milliy Universiteti</li> 
                <li>"Madinaviylararo Kompetentlik: O'zbekiston Modeli"</li> 
            </ul> 
            <div class="buttons"> 
                <a href="" target="_blank" class="btn btn-download" download><i class='fa-solid fa-download'></i>Yuklab olish</a> 
                <a href="" target="_blank" class="btn btn-read"><i class='fa-brands fa-readme'></i>Qo'shimcha o'qish</a> 
            </div> 
        </div> 
        <div class="card"> 
            <div class="card-header">
                <img src="{% static 'assets/img/brains.png' %}" alt="Nazariy Asoslar">
                <h2>Nazariy Asoslar</h2> 
            </div>
            <p>Deardorff, OECD, UNESCO yondashuvlari</p> 
            <ul> 
                <li>Deardorff modeli (animatsiya orqali tushuntirilgan)</li> 
                <li>OECD Global Kompetensiya Dasturi (interaktiv test)</li> 
                <li>foydalanuvchi hozir muhokama qilmoqda</li> 
            </ul> 
            <div class="buttons"> 
                <a href="" target="_blank" class="btn btn-download" download><i class='fa-solid fa-download'></i>Yuklab olish</a> 
                <a href="" target="_blank" class="btn btn-read"><i class='fa-brands fa-readme'></i>Qo'shimcha o'qish</a> 
            </div> 
        </div> 
        <div class="card"> 
            <div class="card-header">
                <img src="{% static 'assets/img/book.png' %}" alt="Ilmiy Forum">
                <h2>Ilmiy Forum</h2> 
            </div>
            <p>Savol-javob, muhokama, ekspert fikri</p> 
            <ul> 
                <li>Mavzu: "Madinaviylararo konfliktlarni hal qilish"</li> 
                <li>UNESCO eksperti bilan onlayn suhbat</li> 
                <li>3 ta foydalanuvchi hozir muhokama qilmoqda</li> 
            </ul> 
            <div class="buttons"> 
                <a href="" target="_blank" class="btn btn-download"><i class='fa-solid fa-comment-sms'></i>Muhokama qilish</a> 
            </div> 
        </div> 
    </div> 
</div>

<div class="edu-banner"> 
    <div class="banner-content"> 
        <div class="text-container"> 
            <span class="dash"></span> 
            <span class="text">Shodiyeva Shohsanam Furqatovna</span> 
            <span class="dash"></span> 
        </div> 
        <div class="lang-options fade-up delay-3">
            <a href="{% url 'lan_switch_brain' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> Uzbek</a>
            <a href="{% url 'lan_switch_brain' 'ru' %}"><img src="{% static 'assets/img/ru.png' %}" width="24" height="16"> Russian</a>
            <a href="{% url 'lan_switch_brain' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> English</a>
            <a href="{% url 'lan_switch_brain' 'tr' %}"><img src="{% static 'assets/img/tr.png' %}" width="24" height="16"> Turkcha</a>
        </div>
    </div> 
</div>

<script src="{% static 'assets/js/research.js' %}"></script>
</body>
</html>