<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shohsanam</title>
    <link rel="icon" href="{% static 'assets/img/utas.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  />
    <link rel="stylesheet" href="{% static 'assets/css/services.css' %}">
</head>
<body>

<nav class="nav"> 
    <div class="nav-inner">
        <a href="{% url 'home' %}" class="brand">
            <img src="{% static 'assets/img/UTAS.jpg' %}" alt="Pedagogika Logo">
            <span>{% trans 'Pedagogika' %}</span>
        </a>
        <div class="nav-links">
            <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a> 
            <a href="{% url 'services' %}">{% trans 'SERVICES' %}</a> 
            <a href="{% url 'gallery' %}">{% trans 'GALLERY' %}</a> 
            <a href="{% url 'team' %}">{% trans 'TEAM' %}</a> 
            <a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a>   
            <div class="lang-wrapper">
                <a class="lang-toggle">{% trans 'LANGUAGES' %}</a> 
                <div class="lang-dropdown"> 
                    <a href="{% url 'lan_switch' 'uz' %}"><img src="{% static 'assets/img/uz.png' %}" width="24" height="16"> UZ</a> 
                    <a href="{% url 'lan_switch' 'en' %}"><img src="{% static 'assets/img/en.png' %}" width="24" height="16"> EN</a> 
                </div> 
            </div> 
        </div>
    </div>
</nav>

<div class="hero-slider"> 
    <div class="overlay"></div>
    <div class="slides-wrapper">
        {% for item in home %}
        <div class="slide">
            <h2>{{ item.title }}</h2> 
            <p>{{ item.text | safe}}</p> 
        </div> 
        {% endfor %}
    </div>
</div>




<div class="stats-container">
    <div class="stat-card">
        <div class="stat-number">1700</div>
        <div class="stat-label">Laudantium</div>
    </div>
    <div class="stat-card">
        <div class="stat-number">2406</div>
        <div class="stat-label">Doloremque</div>
    </div>
    <div class="stat-card">
        <div class="stat-number">2405</div>
        <div class="stat-label">Perspiciatis</div>
    </div>
</div>

<div class="newsletter-container">
    <h1 class="newsletter-title">NEWSLETTER</h1>
    <p class="newsletter-subtitle"> Nemo enim ipsum voluptatem quia voluptas sit aspernatur aut odit aut fugit </p>
    <form id="newsletterForm" onsubmit="return false;">
        <div class="form-group">
            <div class="input-wrapper">
                <span class="input-icon"><i class='fa-solid fa-user'></i></span>
                <input type="text" placeholder="Name" id="nameInput" required>
            </div>
            <div class="input-wrapper">
                <span class="input-icon"><i class='fa-solid fa-envelope'></i></span>
                <input type="email" placeholder="Email" id="emailInput" required>
            </div>
            <button type="button" class="subscribe-btn">SUBSCRIBE NOW</button>
        </div>
    </form>
</div>

<footer class="footer-container">
    <nav class="footer-nav">
        <a href="{% url 'about' %}">{% trans 'ABOUT' %}</a>
        <a href="{% url 'services' %}">{% trans 'SERVICES' %}</a>
        <a href="{% url 'gallery' %}">{% trans 'GALLERY' %}</a>
        <a href="{% url 'team' %}">{% trans 'TEAM' %}</a>
        <a href="{% url 'contact' %}">{% trans 'CONTACT' %}</a>
    </nav>

    <div class="footer-contact">
        <i class='fa-solid fa-phone'></i>
        <span>+998900155727</span>
    </div>

    <div class="social-icons">
        <a href="https://www.facebook.com/utas.uz" target="_blank"><i class='fa-brands fa-facebook'></i></a>
        <a href="https://www.instagram.com/utas.uz/" target="_blank"><i class='fa-brands fa-instagram'></i></a>
        <a href="https://www.linkedin.com/company/utasuz" target="_blank"><i class='fa-brands fa-linkedin'></i></a>
        <a href="https://www.youtube.com/@utasuz" target="_blank"><i class='fa-brands fa-youtube'></i></a>
    </div>
</footer>

<script src="{% static 'assets/js/services.js' %}"></script>
</body>
</html>